body {
    background-color:#2a9d8f;
}
nav.navbar{
    background-color: #264653;
}
.row div{
    position: relative;
    top: 50%;
    margin: 10px;
    color: #f4a261;
    align-items: center;
    text-align: center;
}
.row2 div{
    position: absolute;
    font-size: 300%;
    top: 50%;
    background-color: #e9c46a;
    color: #e76f51;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}